<task-header/>

<main>
  <ul id="users">
    <li><task-user [avatar]="users[0].avatar"
                   [name]="users[0].name"
                   [id]="users[0].id"
                   [user] = "users[0]"
                   (select)="onSelectedUser($event)"
    /></li>
    <li><task-user [avatar]="users[1].avatar"
                   [name]="users[1].name"
                   [id]="users[1].id"
                   [user] = "users[1]"
                   (select)="onSelectedUser($event)"
    /></li>
    <li><task-user [avatar]="users[2].avatar"
                   [name]="users[2].name"
                   [id]="users[2].id"
                   [user] = "users[2]"
                   (select)="onSelectedUser($event)"
    /></li>
    <li><task-user [avatar]="users[3].avatar"
                   [name]="users[3].name"
                   [id]="users[3].id"
                   [user] = "users[3]"
                   (select)="onSelectedUser($event)"
    /></li>
  </ul>

  <task-tasks [name] = "selectedUser?.name"></task-tasks>
</main>

