<task-header/>

<main>
  <ul id="users">
    <li><task-user [user] = "users[0]"
                   (select)="onSelectedUser($event)"
    /></li>
    <li><task-user [user] = "users[1]"
                   (select)="onSelectedUser($event)"
    /></li>
    <li><task-user [user] = "users[2]"
                   (select)="onSelectedUser($event)"
    /></li>
    <li><task-user [user] = "users[3]"
                   (select)="onSelectedUser($event)"
    /></li>
  </ul>

  <task-tasks [name] = "selectedUser?.name"></task-tasks>
</main>

